{%extends "base.html" %}

<!-- Change the title of this page HERE -->
{%block title%}Map{%endblock%}


{%block content%}

<div class="container m-auto">
    <div style="margin-left: 30px;">
        <div style="width: 1000px; margin-top: 50px;">
            <h3>The idea:</h3>
            <p style="display:inline;">The original idea for this web application was</p> <strike style="display: inline;"> stolen</strike> <p style="display: inline;"> inspired from one of the team's brothers. Other ideas where put forward, most of which where social media like applciations so the team was already on board with creating an apps to connect people.
                Further inspiration was gotton from prexisting app such as snap maps and gave us enough information to make a base to start our applciation eventually leading to the very page you are reading now!</p> 
            </div>
            <img src="../static/img/about.png" alt="Main map" style="float: right; width: 600px; margin-top: -100px; margin-right: 200px;">
            <br>
    <h3>How did we build it?</h3>
    <p style="display: inline;">The webserver could have been made with nodejs or java or a faster language however we decided to make the webserver for this applciation and api using python (more specifically the webserver was created with a library called flask). This allowed us to build the applciation using a programming language that the entire team was familiar with, this also made it so that if anyone had a problem with the api or web hosting programs anyone on the team could try and help resolve the problem reducing the time lost fixing these issues. 
        Of course we have used other technologies to build this applciation such as html/css and javascript for the look and functionailty of the pages as well as SQL for the database which is interacted with through our python api. the python api we have created allows for abstraction away from the complexity of the entire applciation during development, anyone who codes knows how useful this is. </p>
        <br><br>
        <h3>The roles of the team:</h3>
        <p>At the very start of the project the team was divided into 2 main groups that being the frontend and the backend, the groups then allocated tasks to each member for them to work on. The frontend team was forcused on building the looks and functionailty of the webpages that the end user (probably you) interacts with and making sure that it is a pleasent experience on this site. The backend team was responable for building all of the behind the scenes functionailty that lets the applcaition work (such as database construction and interaction, the api as mentioned before and the program that responsable for hosting the server)</p>
    </div>
</div>


{%endblock%}
