<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/web/static/img/logo.ico">
    <title>Mapped Out - {%block title%}{%endblock%}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/web/static/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//geoip-js.com/js/apis/geoip2/v2.1/geoip2.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Shared Functions and Constants -->
    <script src="/web/static/js/share.js"></script>
</head>

<body>
    <!-------------------NAVBAR------------------------>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/web">
                <div id="navbar-brand-div">
                    <img src="/web/static/img/logo.png" height="40" />
                </div>
            </a>
            

            <!----------Search Box----------->
            <div class="mx-3">
                <div class="input-group">
                    <input id="search" class="form-control" type="search" placeholder="Search"/>
                    <button class="btn btn-secondary" onclick="onNavSearch()"><i class="bi bi-search"></i></button>
                </div>
                <div id="search-result" style="display: none;">
                </div>
            </div>

            <!----------Collapse button----------->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!---------**Nav Items**---------->
                    <li class="nav-item">
                        <a class="nav-link" href="/web">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/web/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/web/about">About</a>
                    </li>
                    <!---------^^Nav Items^^---------->
                </ul>
                <div class="navbar-nav">
                    <button id="new-post-btn" class="btn" style="color: white; display: none;" onclick="location.replace('/web/post-video')">
                        <i class="bi bi-plus"></i> New Post
                    </button>
                    <button id="nav-login-btn" class="btn btn-primary mx-3 my-2 btn-block"
                        onclick="location.replace('/web/login');"
                    >Login</button>
                </div>
            </div>

        </div>
    </nav>

    <!-------------body------------->
    <div id="body-content">
        <!--Page Content-->
        {%block content%}{%endblock%}
    </div>

    <script src="/web/static/js/index.js"></script>
</body>

</html>
