<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/web/static/css/style.css">
    <link rel="icon" type="img/png" href="/web/static/img/ic.png">
    <title>Mapped Out</title>
</head>

<body>
    <div id="showcase">
        <header>
            <nav class='cf'>
                <ul class='cf'>
                    <li id="logo">
                        <a href="/web/about">Mapped Out</a>
                    </li>
                    <li>
                        <a href='#overview'>Overview</a>
                    </li>
                    <li class="three">
                        <a href='#features'>Features</a>
                    </li>
                    <li class="five">
                        <a href='#footer'>Contact Us</a>
                    </li>
                    <li class="four">
                        <a href='/web/login'><i class="fa fa-user"></i> Login
                    </li>
                    <div class="underbar"></div>
                </ul>
                <a href='#' id='openup'>Mapped Out</a>
            </nav>
        </header>
        <div class="section-main container">
            <h1 class="animate">Mapped Out</h1>
            <h2 class="animate">The GLOBAL Media</h2>
            <p class="lead animate">
                Want to know what's going on in your city? We've got it covered! ​
            </p>
        </div>
    </div>

    <!-- Overview -->

    <section id="overview" class="section">
        <div class="container">
            <h2 class="section-head">
                <i class="fa fa-globe"></i> Stay Updated
            </h2>
            <h3>
                100% Knowledge. 0% Ads.
            </h3>
            <p class="lead">
                <b>MAPPED OUT</b> provides you a platform to enable yourself in beginning this new journey of exploring
                the world.
                Enhance your knowledge regarding people coming from a wide variety of countries, backgrounds, cultures
                etc and support our
                goal of taking a step forward towards achieving global unity !! Our Platform aims to make learning a fun
                and interactive
                experience and provides all the global updates at the comfort of your home without having to move an
                inch.
            </p>
            <a href="/web" class="btn btn-primary mb">Start Your Journey</a>
            <p class="">Remember to Share your Knowledge too</p>
            <p class="text-light mb "> <cite title="Father James Killer">A candle loses nothing by lighting another
                    candle</cite></p>
            <img src="/web/static/img/Poster.jpg" alt="Browser does not support this image format :(">
        </div>
    </section>


    <!-- features -->

    <section id="features" class="section bg-light">
        <div class="container">
            <h3>A futuristic learning platform bringing all the extravagant features you need</h3>
            <p class="lead diff">
            <ul>
                <li>A world map to navigate all over the globe and enhance your Global Knowledge</li>
                <li>Video pop-up recommendations as you navigate</li>
                <li>Heat maps to be aware of latest news and activities occuring in your surroundings</li>
                <li>An upload feature to enable you to share your own knowledge and give back to the community</li>
                <li>A points system and leaderboards for our users to encourage user engagement</li>
            </ul>
            </p>
            <a href="#" class="btn btn-secondary btn2 mb">Learn More</a>
            <img id=#demo src="/web/static/img/demopad.png" alt="Browser does not support this image format :(">
        </div>
    </section>

    <!-- Explore -->

    <section id="explore" class="section">
        <div class="container">
            <h3><span>EXPLORE </span><span>THE </span><span>UNSEEN </span><span>WITH </span><span>MAPPED OUT</span></h3>
        </div>
    </section>


    <!-- Upload -->

    <section id="upload" class="section bg-light">
        <div class="container">
            <div class="upload">
                <div>
                    <img id="upld" src="/web/static/img/earth.jpg" alt="Browser does not support this image format :(">
                </div>
                <div>
                    <h2>Don't Forget To Share!</h2>
                    <p>
                        Knowledge might be power, but it’s much more powerful when it’s shared!
                        When people are learning from each other and have a platform to share their knowledge, that
                        builds a sense of community.
                        Sometimes, sharing knowledge isn’t even about the knowledge,
                        the biggest benefit can come from a personal feeling like our voice is being heard.
                    </p>
                    <p>Want to know a little secret of ours?</p>
                    <hr>
                    <details>
                        <summary>Reveal</summary> The top user in the leaderboard might be handed out exciting gifts
                        annually from our dev team ;)

                        <br>
                        <br>
                        <br>

                        <div class="slideshow-container">
                            <div class="mySlides fade">
                              <div class="numbertext">1 / 3</div>
                              <img src="/web/static/img/jordaans.jpg" style="width:100%">
                              <div class="text">XMAP T-shirt</div>
                            </div>
                            <div class="mySlides fade">
                              <div class="numbertext">2 / 3</div>
                              <img src="/web/static/img/face-mask.jpg" style="width:100%">
                              <div class="text">GLOBAL Face-Mask</div>
                            </div>
                            <div class="mySlides fade">
                              <div class="numbertext">3 / 3</div>
                              <img src="/web/static/img/coffee-mug.jpg" style="width:100%">
                              <div class="text">UNIVERSAL Coffee Mug</div>
                            </div>


                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                          </div>
                          <br>
                          <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                          </div>

                    </details>
                </div>
            </div>
        </div>
    </section>


    <!-- footer -->

    <footer id="footer">
        <div class="container">
            <div class="footer-cols">
                <ul class="underline change">
                    <li class="animate">Our Team</li>
                    <li class="underline">Ben</li>
                    <li class="underline">Hei Wing</li>
                    <li class="underline">Ibrahim</li>
                    <li class="underline">Jed</li>
                    <li class="underline">Rafeh</li>
                    <li class="underline">Rushil</li>
                    <li class="underline">Yat Long</li>
                </ul>

                <ul class="underline change align">
                    <li class="animate">Legal</li>
                    <li class="underline"> <a href=" https://www.privacypolicytemplate.net/live.php?token=HF6dBBawyxp9PxNWe1ZCFFzcztipfYsW" target="_blank">Privacy</a></li>
                    <li class="underline"> <a href="https://www.privacypolicyonline.com/live.php?token=N5MbSAosw8LAqRIPbW5esSIXn8OngFwm" target="_blank">Terms of Services</a></li>
                    <li class="underline">Security</li>
                </ul>

                <ul class="underline change">
                    <li class="animate"> Stay Connected</li>
                    <li>
                        <a href="https://www.instagram.com/mappedoutofficial/" target="_blank" class="underline"><i class="fa fa-instagram fa-fw"></i></a>
                        <a href="https://twitter.com/home?logout=1648555075135" target="_blank" class="underline"><i class="fa fa-twitter fa-fw"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100079731558388" target="_blank" class="underline"><i class="fa fa-facebook fa-fw"></i></a>
                    </li>
                    <address>
                        <li class="animate">Mapped Out</li>
                        <li>University of Manchester</li>
                        <li>Manchester, UK, M13 9PL</li>
                        <li class="underline"><a href="mailto:mapped.out.uom@gmail.com">mapped.out.uom@gmail.com</a>
                        </li>
                        <li id="telnum" class="underline">(+44)78634X4145</li>
                    </address>

                </ul>
                </footer-cols>
            </div>
        </div>
        <div class="footer-bottom text-center">
            Copyright &copy; 2022 X13 Mapped Out
        </div>
    </footer>


    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- BARBA JS -->
    <script src="https://unpkg.com/@barba/core"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JAVASCRIPT -->
    <script src="/web/static/js/main.js"></script>
    <script src="/web/static/js/script.js"></script>
    

    <!-- We are not using cookies -->
    <!--
    <div class="wrapper">
        <img src="./../static/img/cookie.png" alt="">
        <div class="content">
            <header>Cookies Consent</header>
            <p>This website use cookies to ensure you get the best experience on our website.</p>
            <div class="buttons">
                <button class="item">I understand</button>
                <a href="#" class="item">Learn more</a>
            </div>
    -->
</body>

</html>
