@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face { font-family: 'Rushil'; src: url('quub.black-italic-r.ttf'); }
@font-face { font-family: Rushil; src: url('quub.black-italic-r.ttf') format("truetype"); }

/* CSS Variables */
:root {
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #103063;
    --secondary-color-hover: #103f85;
    --light-color: #fff;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
  }

img {
    width: 100%;
    
}

a {
  text-decoration: none;
  color: #ccc;
}

  /* Section */
  .section {
      padding: 2rem 0;
  }

  .section-head {
      font-size: 2.5rem;
  }

  .section h3{
      font-size: 2rem;
  }

  .diff {
    text-align: left;
  }

  section#explore{
    background: url(./../img/exploree.jpeg) no-repeat bottom/cover;
    padding: 10rem 0;
  }

  .upload {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  #upld {
    height: 400px;
  }

  /* Footer */

  footer .footer-cols {
    display: grid;
    column-gap: 20rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 13px;
  }

  footer .footer-cols ul {
    list-style: none;
  }

  footer .footer-cols ul li:first-child {
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px ;
    margin-bottom: 1rem;
  }

  footer .footer-bottom {
    background: #333;
    padding: 1rem;
  }

  .align {
    text-align: center;
  }

  /* Showcase */
  #showcase {
      margin: 0;
      padding: 0;
      background: url('./../img/earth.jpg') no-repeat center/cover;
      width: 100%;
      height: 100vh;
      position: relative;
      overflow-y: hidden;
  }

  #showcase .container {
    margin-top: 25vh;
  }

  #showcase h1 {
      font-size: 10rem;
      margin-bottom: 0;   
  }

  #showcase h2 {
    font-size: 2rem; 
}


    /* Utility Classes */
  .container {
      max-width: 1180px;
      text-align: center;
      margin: auto;
      padding: 0 3rem;
  }

  .lead {
      font-size: 1.3rem;
  }

  .bg-light {
    background: var(--light-color);
    color: #333;
  }

  .mb {
    margin-bottom: 1rem;
  }

  .mt {
    margin-top: 1rem;
  }

  .text-center {
    text-align: center;
  }
  
  /* Buttons */

  .btn {
    padding: 1rem;
    color: #fff;
    display: inline-block;
  }

  .btn-primary {
    background: var(--primary-color);
  }

  .btn-primary:hover {
    background: var(--primary-color-hover);
  }

  .btn-secondary {
    background: var(--secondary-color);
  }

  .btn-secondary:hover {
    background: var(--secondary-color-hover);
  }

  .btn2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .btn-primary {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 60px 0 60px 0;
    transition: all ease 0.6s;
  }

  .btn-primary:after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #ff817e;
    border-radius: 60px 0 60px 0;
    z-index: -1;
    transition: all ease 0.6s;
  }

  .btn-primary:hover:after {
    margin: -10px;
    background-color: #ff817e;
  }

  /* Text Colors */
  
  .text-primary{
    color: var(--primary-color);
  }

  .text-secondary{
    color: var(--secondary-color);
  }

  .text-light{
    color: var(--light-color);
    padding-bottom: 4rem;
  }


  /* Navigation */
  nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position:fixed;
  }

  nav:hover{
      background-color:#555;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }

  nav a#openup {
    display: none;
  }

  .four {
    float: right;
  }

  #logo {
    font-family:'Rushil';
  }
  
  /* Animations */

  .animate {
    text-decoration: none;
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-out;
  }

  .animate:hover {
    background-position: -100%;
  }

  h3 span {
    transition: 0.5s;
  }

  h3:hover span:nth-child(1){
    margin-right: 15px;
  }

  h3:hover span:nth-child(3){
    margin-right: 15px;
    margin-left: 15px;
  }

  h3:hover span:nth-child(4){
    margin-right: 15px;
  }

  h3:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff;
  } 

  h3:hover span:nth-child(1){
    color: #d3071b;
  }

  h3:hover span:nth-child(3){
    color: #d3071b;
  }

  h3:hover span:nth-child(5){
    color: #d3071b;
    font-family: 'Allerta Stencil', cursive;
    font-weight: 700;
  }

  .underline {
    position: relative;
    padding: 0.25rem;
  }

  .underline::before {
    content: "";
    position: absolute;
    /* left: 0%; */
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: greenyellow;
    transition: width 0.25s ease-out;
  }

  .underline:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }

  .change::before {
    background-color: #d3071b;
  }

  .bold:hover{
    font-weight: 800;
    font-size: 30px;
  }

  /* Cookies */

  .wrapper{
    position: fixed;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    background: #fff;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
  }
  .wrapper.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  ::selection{
    color: #fff;
    background: #FCBA7F;
  }
  .wrapper img{
    max-width: 90px;
  }
  .content header{
    font-size: 25px;
    font-weight: 600;
  }
  .content{
    margin-top: 10px;
  }
  .content p{
    color: #858585;
    margin: 5px 0 20px 0;
  }
  .content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #FCBA7F;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons button:hover{
    transform: scale(0.97);
  }
  .buttons .item{
    margin: 0 10px;
  }
  .buttons a{
    color: #FCBA7F;
  }



  @media screen and (max-width: 580px) {
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  
  /* For IE 6/7 (trigger hasLayout) */